@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
body{
    background: #f6f6f6;
}
.topbar{
    width: 100%;
    height:31px;
    background: #e3e4e5;
    border-bottom: 1px solid #ddd;
    position: relative;
    z-index: 5;
}
.topbar-main{
    width: 1190px;
    height: 100%;
    margin: 0 auto;

}
.logo-tu{
    width: 190px;
    height: 170px;
    background: #fff;
    float: left;

}
.weizhi{
    width: 58px;
    height: 100%;
    float: left;

    margin-left: 15px;
    padding-top:10px;
}
.weizhi-tu{
    width: 14px;
    height: 14px;

    float: left;
    margin-right: 5px;
}
.weizhi-zi{
    width: 24px;
    height: 16px;

    float: left;
    font-size: 12px;
    color: #999;
}
.topbar-main-right{
    width: 705px;
    height: 100%;
    padding-left: 69px;
    float: right;
}
.topbar-main-right-zi{
    padding: 0 5px 0 5px;
    float: left;
    font-size:12px ;

    color: #999;
    line-height: 30px;

}
.hong{
    color: red;
}
.header{
    width: 100%;
    height: 140px;
}
.header-main{
    width: 1190px;
    height: 100%;
    margin: 0 auto;

    padding-left: 200px;
}
.header-main-top{
    width: 100%;
    height: 60px;
}
.header-main-zhongjian{
    width: 550px;
    height: 20px;

    margin-top: 5px;
    margin-left: 120px;
}
.header-main-bottom{
    width:790px;
    height: 40px;

    margin-top: 15px;
}
.sousuo{
    width: 490px;
    height: 35px;
    margin-top: 20px;
    border:1px solid #f10215;
    margin-left: 120px;
    float: left;
}
.sousuo-anniu{
    width: 50px;
    height: 35px;
    background:#f10215;
    line-height: 35px;
    margin-top: 20px;
    font-size: 20px;
    border:0;
    float: left;
    color: #fff;
}
.gouwuche{
    width: 188px;
    height: 33px;
    line-height: 33px;
    background: #fff;
    float: left;
    border: 1px solid #e3e4e5;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    color: red;
    line-height: 33px;
}
.erweima{
    width: 60px;
    height: 60px;
    float: right;
    margin-left: 20px;
    padding: 3px;
    background: #f6f6f6;
}
.erweima img{
    width: 100%;
    height: 100%;
}
.header-main-zhongjian-zi{
    padding-right: 10px;
    font-size: 10px;
    color: #999;
    float: left;
}
.header-main-zhongjian-zi:first-child a{
    color: #f10215;
}
.header-main-bottom-zi{
    padding-left: 30px;

    font-size: 16px;
    color: #555;
    font-weight: 700;
    line-height: 40px;
    float: left;
}
.header-main-bottom-zi a{
    color: #555;
}
.banner{
    width: 100%;
    height: 480px;
}
.banner-main{
    width: 1190px;
    height: 100%;
    margin: 0 auto;

}
.banner-main-left{
    width: 190px;
    height: 100%;
    background: #6e6568;
    float: left;
    padding-left: 12px;
    padding-top: 20px;
    font-size: 14px;
    color: #fff;
}
.banner-main-left li{
    width: 100%;
    height: 30px;

}
.banner-main-left li a{
    color: #fff;
}
.banner-main-left li a:hover{
    color: #f10215;
}
.banner-main-middle{
    width: 790px;
    height: 100%;
    margin-left: 10px;
    float: left;
}
.banner-main-middle-top{
    width: 100%;
    height: 340px;

}
.banner-main-middle-bottom{
    width: 100%;
    height: 130px;

    margin-top: 10px;
}
.bmmb-left{
    width: 390px;
    height: 100%;
    float: left;

}
.bmmb-right{
    width: 390px;
    height: 100%;
    float: right;

}
.banner-main-right{
    width: 190px;
    height: 100%;
    float: left;
    margin-left: 10px;
    background: #fff;

}
.bmr-top{
    width: 100%;
    height: 116px;

    padding: 15px 15px 0 15px;
    border-bottom: 1px solid #e6e6e6;
}
.bmr-top-tu{
    width: 50px;
    height: 50px;
    float: left;
    background: url("../img/touxiangkuang.png") -70px 0 no-repeat;
}
.bmr-top-tu img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-left: 3px;
    margin-top: 3px;
}
.bmr-top-zi{
    width: 102px;
    height: 50px;
    float: left;
    margin-left: 5px;
}
.bmr-top-zi p{
    width: 100%;
    height: 18px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.bmr-top-kuang{
    width: 170px;
    height: 24px;
    float: left;
    margin-top: 10px;
    font-size: 12px;
    color: #e01222;

    text-align: center;
}
.bmr-top-kuang-left{
    width: 74px;
    height: 24px;
    border: 2px solid #e01222;
    float: left;
    line-height: 20px;
}
.bmr-top-kuang-right{
    width: 74px;
    height: 24px;
    border: 2px solid #e01222;
    float: left;
    margin-left: 10px;
    line-height: 20px;
}
.bmr-middle{
    width: 100%;
    height: 154px;

}
.bmr-middle-main{
    width: 160px;
    height: 100%;
    margin: 0 auto;

}
.bmr-m-bt{
    width: 100%;
    height: 24px;

    border-bottom: 1px solid #e6e6e6;
}
.bmr-m-bt-zi{
    padding: 0 3px;
    float: left;
    font-size: 13px;
    color: #333;
    line-height: 24px;
}
.bmr-m-bt-zi.left{
    float: right;
}
.bmr-xian{
    float: left;
}
.bmr-m-nr{
    width: 100%;
    height: 96px;
    margin-top: 10px;
}
.bmr-m-nr p{
    width: 100%;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}
.bmr-bottom{
    width: 100%;
    height: 210px;
}
.bmr-bottom-main{
    width: 190px;
    height: 100%;
    margin: 0 auto;
}
.bmr-bm-hang li{
    width: 47px;
    height: 69px;
    float: left;
    border-top:1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
}
.bmr-tubiao{
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-left: 10px;
}
.bmr-tubiao.a{
    background: url("../img/xiaotubiao.png") 0 -88px no-repeat;
    background-size:156px 148px;
}
.bmr-tubiao.b{
    background: url("../img/xiaotubiao.png") 0 -44px no-repeat;
    background-size:156px 148px;
}
.bmr-tubiao.c{
    background: url("../img/xiaotubiao.png") -44px -88px no-repeat;
    background-size:156px 148px;
}
.bmr-tubiao.d{
    background: url("../img/xiaotubiao.png") -88px -88px no-repeat;
    background-size:156px 148px;
}
.bmr-tubiao.e{
    background: url("../img/xiaotubiao.png") -88px -44px no-repeat;
    background-size:156px 148px;
}
.bmr-tubiao.f{
    background: url("../img/xiaotubiao.png") 0px 0px no-repeat;
    background-size:156px 148px;
}
.bmr-tubiao.g{
    background: url("../img/xiaotubiao.png") -44px -44px no-repeat;
    background-size:156px 148px;
}
.bmr-tubiao.h{
    background: url("../img/xiaotubiao.png") -88px -88px no-repeat;
    background-size:156px 148px;
}
.bmr-tubiao.i{
    background: url("../img/xiaotubiao.png") -132px 0px no-repeat;
    background-size:156px 148px;
}
.bmr-tubiao.j{
    background: url("../img/xiaotubiao.png") -132px -44px no-repeat;
    background-size:156px 148px;
}
.bmr-tubiao.k{
    background: url("../img/xiaotubiao.png") -132px -88px no-repeat;
    background-size:156px 148px;
}
.bmr-tubiao.m{
    background: url("../img/xiaotubiao.png") -44px 0px no-repeat;
    background-size:156px 148px;
}
.bmr-zi{
    width: 100%;
    height: 24px;
    margin-top: 5px;
    font-size: 12px;
    color: #333;
    line-height: 24px;
    text-align: center;
}
.miaosha{
    width: 100%;
    height: 305px;

    margin-top: 10px;
}
.miaosha-main{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
    background: #fff;
}
.ms-bt{
    width: 100%;
    height: 55px;
    background:url("../img/msbg.png") no-repeat #aa2228;
    padding: 0 30px;
}
.naozhong{
    width: 34px;
    height: 40px;
    float: left;
    margin-top: 5px;
    background: url("../img/ms.png") 0 -40px no-repeat;
}
.ms-bt p{
    height: 40px;
    float: left;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 5px;
    color:#fff;
}
.ms-bt .xiao{
    height: 24px;
    margin-top: 25px;
    margin-left: 5px;
    font-size: 14px;
    color: #fff;
    line-height: 24px;
}
.ms-bt-more{
    margin-left: 5px;
    margin-top: 30px;
    width: 15px;
    height: 16px;
    float: left;
    background: url("../img/ms.png") -154px -40px no-repeat;
    background-size: 218px 188px;
}
.ms-bt-rigth{
    width: 269px;
    height: 100%;
    float: right;

}
.ms-bt-right-zi1{
    width: 56px;
    height: 100%;
    float: left;
    font-size: 12px;
    color: #fff;
    line-height: 55px;

}
.ms-bt-right-zi1.a{
    width: 70px;
}
.ms-bt-right-box1{
    width: 35px;
    height: 37px;
    background: #440106;
    margin-top: 10px;
    color: #f90013;
    font-size: 24px;
    line-height: 37px;
    text-align: center;
    border-radius: 3px;
    float: left;
    font-weight: bold;
    margin-left: 2px;
}
.maohao{
    color: #440106;
    font-size: 24px;
    font-weight: bold;
    float: left;
    margin-top: 10px;
    text-align: center;
    margin-left: 2px;
}
.miaosha-nr{
    width: 100%;
    height: 225px;
    background: #fff;
    margin-top: 10px;
}
.miaosha-nr li{
    width: 198px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    float: left;
}
.miaosha-nr li:last-child{
    border: 0;
}
.miaosha-nr-tu{
    width: 130px;
    height: 130px;

    margin: 0 auto;
    /*margin-top: 20px;*/
    background: red;
}
.miansha-rightxian{
    width: 170px;
    height: 20px;
    background: url("../img/ms.png") 0 0 no-repeat;
    background-size: 218px 188px;
    margin: 0 auto;
}
.miaosha-nr-zi{
    width: 170px;
    height: 32px;
    font-size: 12px;
    line-height: 16px;
    margin: 0 auto;
    color:#999 ;
    overflow: hidden;
    margin-top: 10px;
}
.miaosha-nr-jiange{
    font-size: 18px;
    color: red;
    font-weight: 700;
}
.miaosha-nr-jiange p{
    font-size: 12px;
    color: #999;
    text-decoration: line-through;
    font-weight: 400;
    float: right;
    margin-top: 5px;
    margin-right: 20px;
}
.miaoshadatu{
    margin-left: 10px;
}
.faxian{
    width: 100%;
    height: 444px;

    margin-top: 30px;
}
.faxian-main{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}
.faxian-main-nr{
    width: 390px;
    height: 100%;
    float: left;
    margin-right: 10px;

}
.faxian-main-nr-bt{
    width: 100%;
    height: 55px;
    padding-right: 20px;
    background-image: linear-gradient(90deg,#4998a1,#2e828b);
}
.fxmnb-xiaotu{
    width: 28px;
    height: 28px;
    float: left;
    background: url("../img/ms.png") -190px -96px no-repeat;
    background-size: 218px 188px;
    margin-top: -4px;
    margin-left: -4px;
}
.faxian-main-nr-bt p{
    height: 40px;
    float: left;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    margin-top: 10px;
    margin-left: 5px;
    color:#fff;
}
.faxian-main-nr-bt .xiao{
    margin-top: 15px;
    font-size: 12px;
    float: right;
}
.faxian-main-nr-bt .ms-bt-more{
    float: right;
}
.faxian-main-nr-main{
    width: 390px;
    height: 389px;
    float: left;
    background: #fff;
    padding-top: 10px;
    padding-left: 10px;

}
.faxian-main-nr-main li{
    width: 186px;
    height: 121px;
    float: left;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    padding:0 10px 10px 10px;
}
.faxian-main-nr-main li:nth-child(2n){
    border-right: 0px solid #e7e7e7;
}
.faxian-main-nr-main li:nth-child(5){
    border-bottom: 0px solid #e7e7e7;
}
.faxian-main-nr-main li:nth-child(6){
    border-bottom: 0px solid #e7e7e7;
}
.faxian-main-nr-main li p{
    width: 80px;
    height: 40px;
    color: #4998a1;
    font-size: 14px;
}
.fmnm-tupian{
    width: 80px;
    height: 80px;
    float: right;
}
.faxian-main-nr-bt.a{
    background-image: linear-gradient(90deg,#76488e,#662d72);
}
.fxmnb-xiaotu.a{
    background: url("../img/ms.png");
}
.youxuan-main{
    width: 100%;
    height: 388px;
    background: #fff;
    padding: 10px;
}
.youxuan-main-top{
    width: 360px;
    height: 159px;
    margin: 0 auto;
    border-bottom:1px solid #efefef;
}
.youxuan-mainzi{
    width: 360px;
    height: 16px;
    margin: 0 auto;
    font-size: 12px;
    margin-top: 10px;
}
.youxuan-tu{
    width: 100%;
    height: 110px;

    margin-top: 10px;
}
.youxuan-tu1{
    width: 120px;
    height: 110px;
    float: left;
    padding: 0 10px;
}
.youxuan-tu1 img{
    width: 100%;
    height: 100%;
}
.faxian-main-nr.b{
    margin-right: 0;
}
.faxian-main-nr-bt.b{
    background-image: linear-gradient(90deg,#e77005,#e45d04);
}
.fxmnb-xiaotu.b{
    background: url("../img/ms.png") -190px 0px no-repeat;
    background-size: 218px 188px;
}
.paihang-main{
    width: 100%;
    height: 389px;
    background: #fff;
}
.paihang-bt{
    width: 370px;
    height: 32px;
    margin: 0 auto;
    border-bottom: 1px solid #e7e7e7;
}
.paihang-bt p{
    padding: 0 6px;
    line-height: 32px;
    font-size: 12px;
    float: left;
    color: #999;
}
.paihang-nr{
    width: 370px;
    height: 335px;
    margin-top: 10px;
    margin: 0 auto;
}
.paihang-nr li{
    width: 123px;
    height: 167px;
    float: left;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;

}
.paihang-nr li:nth-child(3){
    border-right: 0px solid #e7e7e7;
}
.paihang-nr li:nth-child(4){
    border-bottom: 0px solid #e7e7e7;
}
.paihang-nr li:nth-child(5){
    border-bottom: 0px solid #e7e7e7;
}
.paihang-nr li:nth-child(6){
    border-bottom: 0px solid #e7e7e7;
    border-right: 0px solid #e7e7e7;
}
.paihang-nr-tu{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background: red;
    margin-top: 10px;
}
.paihang-nr-zi{
    width: 122px;
    height:32px ;
    font-size: 12px;
    line-height: 16px;
    margin-top: 10px;
    overflow: hidden;
    word-wrap: break-word;
    word-break: break-all;
}
.lingjuan{
    width: 100%;
    height: 215px;
    margin-top: 30px;

}
.lingjuan-main{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
    background: #fff;
}
.lingjuan-main-left{
    width: 190px;
    height: 100%;
    background:#ea3524;
    padding: 25px;
    float: left;
}
.lingjuan-main-right{
    width: 1000px;
    height: 100%;
    float: left;
    padding: 10px 0;
}
.lj-mr-box{
    width: 199px;
    height: 195px;
    float: left;
    border-right: 1px solid #e7e7e7;
    padding: 15px 0 0 15px;
    position: relative;
}
.lj-mr-left{
     width: 100px;
     height: 180px;
     background: #fff;
     float: left;
     border-top: 3px solid #e93524;
    position: relative;
    z-index: 2;
 }
.lj-mr-tupian{
    width: 140px;
    height: 140px;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    left: 20px;
    margin: auto;
}
.lj-mr-left-price{
    width: 100%;
    height: 36px;
    font-size: 34px;
    color: #f10214;
    line-height: 36px;
    font-weight: 700;
    margin-top: 7px;
    text-align: left;
}
.lj-mr-left-nr{
    padding: 0 10px;
    width: 100%;
    height: 36px;
    font-size: 12px;
    color: #e93524;
    line-height: 18px;
    margin-top: 7px;
    text-align: left;
}
.li-mr-left-bottom{
    width: 100px;
    height: 66px;
    font-size: 12px;
    padding: 15px 10px;
    color: #666;
    background:#e7e7e7 url("../img/lingjuan") repeat-x 0 0;
}
.li-mr-left-bottom-xia{
    width: 100%;
    height: 26px;
    background: #e93524;
    font-size: 12px;
    text-align: center;
    line-height: 26px;
    color: #fff;
}
.lj-ml-top{
    width: 100%;
    height: 36px;
    line-height: 36px;
    color: #fff;
    font-size: 30px;
}
.lj-ml-xian{
    width: 55px;
    height: 3px;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
}
.lingjuan-main-left p{
    width: 100%;
    height: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
}
.lj-ml-kuang{
    width: 100%;
    height: 30px;
    border: 2px solid #fff;
    font-size: 12px;
    line-height: 25px;
    padding: 0 10px;
    margin-top: 20px;
    color: #fff;
}
.guanggaotiao{
    width: 100%;
    height: 100px;
    background: #e0e0e0;
    margin-top: 30px;
    overflow: hidden;

}
.guanggao-main{
    width: 1190px;
    height: 100px;
    margin: 0 auto;
}
.guanggao-main-tu{
    width: 396px;
    height: 100%;
    float: left;
    padding: 0 33px;
}
.guanggao-main-tu img{
    width: 100%;
    height: 100%;
}
.enjoy-life{
    width: 100%;
    height: 55px;
    margin-top: 30px;
}
.enjoy-life-main{
    width: 1190px;
    height: 35px;
    background: url("../img/btbg.png") 0 18px repeat-x;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
}
.enjoy-life-zi{
    width: 178px;
    height: 31px;
    background: #f6f6f6;
    font-size: 26px;
    color: #333;
    font-weight: 400;
    margin: 0 auto;
}
.xiangsh{
    width: 100%;
    height: 530px;

}
.xiansh-main{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}
.xiansh-main-left{
    width:800px;
    height: 100%;
    float: left;
}
.xiansh-main-right{
    width: 390px;
    height: 100%;
    float: left;
}
.xsh-nr{
    width: 390px;
    height: 170px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    overflow: hidden;
    position: relative;
}
.xsh-nr-right img{
    width: 400px;
    height: 170px;
}
.xsh-nr.a{
    margin-top:0px;
}
.xsh-nr.b{
    margin-top:0px;
}
.xsh-r-top{
    width: 390px;
    height: 350px;
    background: yellow;
    margin-bottom: 10px;
}
.xsh-r-bottom{
    width: 390px;
    height: 170px;
    background: red;
}
.xsh-r-b-nr{
    width: 190px;
    height: 170px;
    background: blue;
    float: left;
    margin-right: 10px;
    position: relative;
    overflow: hidden;
}
.xsh-r-b-nr.a{
    margin-right: 0;
}
.xsh-nr-left{
    width: 140px;
    height: 170px;
    float: left;
    background: rgba(89, 176, 125, 0.91);
    padding: 45px 20px 0 20px;
    position: absolute;
    top:0;
    left: 0;
}
.xsh-nr-left.b{
        background: rgba(217, 204, 98, 0.91);
}
.xsh-nr-left.c{
    background: rgba(213, 135, 23, 0.91);
}
.xsh-nr-left.d{
    background: rgba(126, 89, 68, 0.91);

}
.xsh-nr-left.e{
    background: rgba(83, 75, 93, 0.9);
}
.xsh-nr-left.f{
    background: rgba(59, 131, 140, 0.91);
}
.xsh-nrl-dazi{
    width: 100px;
    height: 44px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #fff;
}
.xsh-nrl-xiaozi{
    width: 100px;
    height: 32px;
    margin-top: 10px;
    font-size: 12px;
    color: #fff;
}
.xsh-r-b-nr img{
    width: 200px;
    height: 170px;
}
.xsh-r-b-xia{
    width: 190px;
    height: 84px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(100, 38, 99, 0.91);
    padding-top: 10px;
}
.xsh-r-b-xia.a{
    background:#a93931 ;
 }
.xsh-r-b-xia-dazi{
    width: 100px;
    height: 34px;
    font-size: 16px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    margin: 0 auto;
}
.xsh-r-b-xia-xiaozi{
    width: 190px;
    height: 32px;
    font-size: 12px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*爱生活*/
.aishenghuo{
    width: 100%;
    height: 523px;
}
.aishenghuo.jiadian{
     margin-top: 30px;
 }
.aishenghuo.diannao{
    margin-top: 30px;
}
.ash-main{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}
.ash-main-left{
    width: 590px;
    height: 465px;
    float: left;
    background: #fff;
    padding:10px;
}
.ash-main-left.a{
    margin-left: 10px;
}
.ash-main-bt{
    width: 100%;
    height: 58px;
}

.ash-main-bt-left{
    width: 590px;
    height: 100%;
    float: left;
    background: #974676;
    padding: 16px 25px 16px 20px;
}
.ash-main-bt-left.one{
     width:100%;
    background: #488bad;
 }
.ash-main-bt-left.one.aichi{
    background: #eeb924;
}
.ash-main-bt-left.aibaobao{
    background: #e16c46;
}
.ash-main-bt-left.aijia{
    margin-left: 10px;
    background: #a56741;
}
.ash-main-bt-left.a{
    margin-left: 10px;
    background: #cd375e;
}
.ash-main-bt-left.b{
    background: #78538e;
}
.ash-main-bt-left.c{
    margin-left: 10px;
    background: #5e6c90;
}
.ash-main-bt-left.g{
    background:  #3aaba9;
}
.ash-mbl-right-zi.g{
    background: #65bbb9;
}
.ash-mbl-right-zi.e{
    background:#72a293;
}
.ash-main-bt-left.e{
    margin-left: 10px;
    background:#568e7d;
}
.ash-mbl-right.one{
    width: 1000px;
}
.ash-mbl-dazi{
    padding: 0 5px;
    height: 26px;
    float: left;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
}
.ash-mbl-ma{
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 20px;
    margin-top: 3px;
    background: url("../img/btma.png");
}
.ash-mbl-right{
    width: 405px;
    height: 28px;
    float: right;
}
.ash-mbl-right-zi{
    display:inline-block;
    float: right;
    padding: 0 10px;
    font-size: 12px;
    color: #fff;
    height: 24px;
    line-height: 22px;
    border:1px solid #fff;
    margin-left: 10px;
    background: #c187af;
}
.ash-mbl-right-zi.a{
    background: #de7b95;
}
.ash-mbl-right-zi.b{
    background: #9e84b1;
}
.ash-mbl-right-zi.c{
    background: #94a1c0;
}
.ash-mbl-right-zi.d{
    background: #77b6c3;
}
.ash-mbl-right-zi.eat{
    background: #edca56;
}
.ash-mbl-right-zi.body{
    background: #e28465;
}
.ash-mbl-right-zi.home{
    background: #b08061;
}
.ash-main-left-top{
    width: 100%;
    height: 260px;
}
.ash-main-left-top li{
    width: 188px;
    height: 100%;
    float: left;
    border-right:1px solid #ccc;
    overflow: hidden;
}
.ash-main-left-top li:nth-child(1){
    width: 183px;
    border: 0;
    margin-right: 10px;
}
.ash-main-left-top li:nth-child(3){
    border: 0;
}
.ash-li-top{
    width: 100%;
    height: 130px;
    border-bottom:1px solid #ccc;
    padding: 30px 20px 10px 30px;
    position: relative;
}
.ash-li-top.a{
    border: 0;
}
.ash-li-top-colorzi{
    width: 130px;
    height: 21px;
    font-size: 14px;
    line-height: 21px;
    color: #974676;
    float: left;
    position: relative;
    z-index: 1;
}
.ash-li-top-zi{
    width: 50px;
    height: 16px;
    font-size: 12px;
    color: #666;
    float: left;
    position: relative;
    z-index: 1;
}
.ash-li-top-tu{
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.ash-main-middle{
    width: 100%;
    height: 130px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.ash-main-middle li{
    width: 183px;
    height: 130px;
    overflow: hidden;
}
.ash-main-bottom{
    width: 390px;
    height: 35px;
    margin-top: 10px;
}
.ash-main-bottom li{
    padding: 0 11px;
    float: left;
    height: 20px;
    margin-top: 7px;
    border-right: 1px solid #dedfe0;
}
.ash-main-bottom li img{
    margin-top: -7px;
}
.ash-main-bottom li:last-child{
    border: 0;
}
.ash-main-bt-left.lifetravel{
    margin-left: 10px;
    width: 390px;
}
.ash-main-bt-left.aigame{
    width: 390px;
}
.ash-mbl-right.aigame{
    width: 225px;
}
.ash-mbl-right.lifetravel{
    width: 225px;
}
.ash-main-left.aiyouxi{
    width: 390px;
    padding:0 0 0 10px;
}
.ash-main-left-top .three{
    border: 0;
    width: 182px;
}
.ash-main-left.aiyouxi.a{
    margin-left: 10px;
    margin-right: 10px;
}
.goutese{
    width: 100%;
    height: 140px;
}
.goutese-main{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
}
.goutese-main li{
    width: 160px;
    height: 100%;
    float: left;
    position: relative;
}
.goutes-main-box{
    width: 100%;
    height: 63px;
    background: red;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px 0;
}
.gts-main-dazi{
    width: 100%;
    height: 24px;
    text-align: center;
    line-height: 24px;
    font-size: 20px;
    color: #fff;
}
.gts-main-xiaozi{
    width:100%;
    height: 16px;
    line-height: 16px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 12px;
}
.goutes-main-box.a{
    background: rgba(136, 96, 73, 0.9);
}
.goutes-main-box.b{
    background: rgba(116, 86, 123, 0.9);
}
.goutes-main-box.c{
    background: rgba(202, 48, 48, 0.9);
}
.goutes-main-box.d{
    background: rgba(69, 146, 99, 0.9);
}
.goutes-main-box.e{
    background: rgba(218, 93, 64, 0.9);
}
.goutes-main-box.f{
    background: rgba(79, 135, 177, 0.9);
}
.goutes-main-box.g{
    background: rgba(213, 187, 9, 0.9);
}
.haimeiguanggou{
    width:100%;
    height:auto;
}
.haimeiguanggou-mian{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}
.hmgg-box{
    width: 100%;
    height: 317px;
    display: flex;
    justify-content: space-between;
}
.hmgg-box li{
    width:230px;
    background: #fff;
    padding: 5px;
}
.hmgg-yupian{
    width: 220px;
    height: 220px;
}
.hmgg-zi{
    width: 220px;
    height: 80px;
    padding: 10px;
}
.hmgg-zi p{
    width: 200px;
    height: 36px;
    font-size: 12px;
    overflow: hidden;
}
.hmgg-zi .more-pricezi{
    width: 200px;
    height: 19px;
    color:red;
}
/*.footer{
    width: 100%;
    height: 500px;
    background: #eaeaea;
    margin-top:30px;
}*/
footer{
    height: 500px;
    margin-top: 30px;
    background-color: #eaeaea;
    padding:0 150px;
}
.footer_sb{
    height: 42px;
    padding: 10px 0;
    border-bottom: 1px solid #dedede;
}
.pinlei{
    width: 248px;
    height: 42px;
    float: left;
}
.pl_tu{
    width: 36px;
    height: 42px;
    float: left;
    background-image: url(../img/ico_service.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.t1{
    background-image: url(../img/ico_service.png);
    background-repeat: no-repeat;
    background-position: 0 -42px;
}
.t2{
    background-image: url(../img/ico_service.png);
    background-repeat: no-repeat;
    background-position: 0 -85px;
}
.t3{
    background-image: url(../img/ico_service.png);
    background-repeat: no-repeat;
    background-position: 0 -128px;
}
.pinlei h1{
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    color: #444;
    font-family: 微软雅黑;
    margin-left: 10px;
    float: left;
}
.footer_zb{
    height: 159px;
    padding: 20px 0;
    border-bottom: 1px solid #dedede;
}
.footer_zb dl{
    width: 198px;
    height: 159px;
    float: left;
}
.footer_zb dl dt{
    margin-bottom: 5px;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #666;
    font-weight: bold;
    line-height: 22px;
}
.footer_zb dl dd a{
    width: 198px;
    height: 22px;
    font-size: 12px;
    font-family: 微软雅黑;
    color: #666;
    line-height: 22px;
}
.footer_zb dl dd a:hover{
    color: #f10214;
}
.ditu{
    width: 200px;
    height: 150px;
    float: right;
    background-image: url(../img/ico_footer.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.ditu h1{
    margin-bottom: 13px;
    font-size: 14px;
    font-family: 微软雅黑;
    color: #666;
    font-weight: bold;
    line-height: 22px;
    text-align: center;
}
.ditu p{
    padding: 0 10px;
    font-size: 12px;
    font-family: 微软雅黑;
    color: #666;
    line-height: 22px;
    text-align: center;
}
.ditu i{
    width:180px;
    height: 190px;
    font-size: 12px;
    font-family: 微软雅黑;
    color: #666;
    font-style: normal;
    margin-left: 120px;
}
.footer_xb{
    height: 163px;
    padding: 15px 0;
}
.gywm{
    padding: 0 92px;
    height: 18px;
}
.gywm a{
    display: block;
    font-size: 12px;
    font-family: 微软雅黑;
    color: #666;
    line-height: 18px;
    float: left;
}
.gywm span{
    width:1px;
    height: 12px;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    margin: 0 10px;
    color: #ccc;
    float: left;
}
.gywm a:hover{
    color: #f10214;
}
.jgw{
    padding: 0 199px;
    height: 22px;
    margin-top: 10px;
}
.jgw a{
    display: block;
    font-size: 12px;
    font-family: 微软雅黑;
    color: #666;
    line-height: 18px;
    float: left;
}
.jgw span{
    width:1px;
    height: 12px;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    margin: 0 10px;
    color: #ccc;
    float: left;
}
.hlw{
    padding: 0 165px;
    height: 22px;
}
.hlw a{
    display: block;
    font-size: 12px;
    font-family: 微软雅黑;
    color: #666;
    line-height: 18px;
    float: left;
}
.hlw span{
    width:1px;
    height: 12px;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    margin: 0 10px;
    color: #ccc;
    float: left;
}
.copy{
    padding: 0 334px;
    height: 22px;
}
.copy a{
    display: block;
    font-size: 12px;
    font-family: 微软雅黑;
    color: #666;
    line-height: 18px;
    float: left;
}
.copy span{
    width:1px;
    height: 12px;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    margin: 0 10px;
    color: #ccc;
    float: left;
}
.qixia{
    padding: 0 499px;
    height: 22px;
}
.qixia a{
    display: block;
    font-size: 12px;
    font-family: 微软雅黑;
    color: #666;
    line-height: 18px;
    float: left;
}
.qixia span{
    width:1px;
    height: 12px;
    font-size: 12px;
    line-height: 18px;
    font-style: normal;
    margin: 0 10px;
    color: #ccc;
    float: left;
}
.dilogo{
    height: 36px;
    margin: 0 237px;
}
.lg{
    width: 103px;
    height: 32px;
    margin-right: 8px;
    float: left;
}
.lg2{

}
.lg3{
    background-image: url(../img/ico_footer.png);
    background-repeat: no-repeat;
    background-position: 0 -183px;
}
.lg4{
    background-image: url(../img/ico_footer.png);
    background-repeat: no-repeat;
    background-position: -105px -183px;
}
.lg5{
    background-image: url(../img/ico_footer.png);
    background-repeat: no-repeat;
    background-position: 0 -218px;
}
.lg6{
    background-image: url(../img/ico_footer.png);
    background-repeat: no-repeat;
    background-position: -100px -218px;
}
.btnBox{
    width: 34px;
    height: 525px;
    background-color: #918888;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 50%;
    margin: auto;
    margin-left:-650px;
}
.btnBox li{
    width: 34px;
    height: 48px;
    border-bottom: 1px solid #fff;
    box-sizing:border-box;
    padding: 10px 5px;
    font-size: 12px;
    color:#fff;
    background-color: #918888;
    line-height: 14px;
    text-align: center;
    cursor: pointer;
    font-family: 微软雅黑;
}
.btnBox .bbb{
    width: 34px;
    height: 48px;
    border-bottom: 1px solid #fff;
    box-sizing:border-box;
    padding: 10px 5px;
    font-size: 12px;
    color:#fff;
    background: #666;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    font-family: 微软雅黑;
}
nav{
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;
    width: 100%;
    height: 48px;
    border-bottom: 2px solid #f10214;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    display: none;
}
nav .ggg{
    width: 125px;
    height: 40px;
    float: left;
}
nav .nk input{
    height: 15px;
    width: 482px;
    font-size: 14px;
    color:#989898;
    padding: 5px 3px 5px 5px;
    margin: 8px auto;
    margin-left: 200px;
    outline: none;
    float: left;
}
nav .nk .submit{
    width: 50px;
    height: 30px;
    margin-top:8px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
    background-color: #f10215;
    text-align: center;
    line-height: 30px;
    float: left;
}
.youtiao{
    width: 6px;
    height: 100%;
    background: #7A6E6E;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
}
.youguding{
    width: 35px;
    height: 216px;
    background: #7A6E6E;
    position: fixed;
    right: 4px;
    bottom: 165px;
    z-index: 100;
}
.youguding ul{
    width: 35px;
    height: 216px;
}
.youbox{
    width: 34px;
    height: 35px;
    position: relative;
}
.youguding ul li{
    width: 34px;
    height: 36px;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    position: relative;
    z-index: 100;

}
.youguding ul li:last-child{
    border-bottom: 0;
}
.youguding ul li:hover{
    background: #C81623;
}
.youguding ul li p{
    width: 62px;
    height: 35px;
    background: #C81623;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1000;
    border-radius: 5px;
    display: none;
}








.youxia{
    width: 34px;
    height: 70px;
    background: #7A6E6E;
    position: fixed;
    bottom: 0;
    right: 4px;
}
.youxia ul li{
    width: 34px;
    height: 36px;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
    position: relative;
    z-index: 100;

}
.youxia ul li:hover{
    background: #C81623;
}
.youxia ul li p{
    width: 62px;
    height: 35px;
    background: #C81623;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1000;
    border-radius: 5px;
    display: none;
}
.huachu{
    text-align: center;
    line-height: 35px;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}