
.header{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
img{
	width: 100%;
	height: 100%;
}
.zhezhao{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: auto;
	background: rgba(0, 0, 0, 0.5);
}
.zi{
	width: 85%;
	height: 71px;
	margin: 0 auto;
	
	margin-top: 30px;
}
.dabiaoti{
	width: 211.16px;
	height:50px;
 
	float: left;
	line-height: 50px;
	margin-top: 10px;
}
.xiaobiaoti1{
	width: 88.77px;
	height: 50px;
	
	float: right;
	line-height: 50px;
	margin-top: 10px;
}
.xiaobiaoti2{
	width: 105.56px;
	height: 50px;

	float: right;
	line-height: 50px;
	margin-top: 10px;
}
.xiaobiaoti3{
	width: 71.98px;
	height: 50px;
	
	float: right;
	line-height: 50px;
	margin-top: 10px;
}
.xiaobiaoti4{
	width: 63.59px;
	height: 50px;
	
	float: right;
	line-height: 50px;
	margin-top: 10px;
}
.dazi{
	font-size: 40px;
	color: #fff;
	text-align: center;
}
.xiaozi{
	font-size: 20px;
	color: #fff;
	text-align: center;
}
.xiaozi:hover{
	color: #000;
	text-decoration: underline;
}
.zhongjian{
	width: 50%;
	height: 124px;
	float: right;
	
	margin-top: 200px;
	position: absolute;
	right: 0px;
	top: 400px;
	margin: 0 auto;
}


/* 小屏 */
.zhezhao ul{
	width: 105.6px;
	height: 355px;
	
	margin-left: 100px;
}

.zhezhao ul li{
	width: 100%;
	height: 71px;
	line-height: 71px;
	
}
.xiaozi.a{
	font-size:18px;
}

.zhongjianxia{
	width: 50%;
	height: 48px;
	float: right;
    line-height: 42px;
	position: absolute;
	right: 0px;
	top: 524px;
	margin: 0 auto;
}
.hezi{
	width: 300px;
	height: 50%;
	 padding: 0 10px;
	background: rgba(1, 5, 6, 0.3);
	margin: 0 auto;
}
.dazi.a{

font-size: 52px;
}
.zihezi22{
	width: 100%;
	height: 80%;
	background:rgba(1, 5, 6, 0.3);
	margin: 0 auto;
	font-size: 32px;
	color: #fff;

    padding: 0 10px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-align: center;
}

.skills{
	width: 100%;
	height: 100%;
	
}
.works{
	width: 100%;
	height: 100%;
}
.contact{
	width: 100%;
	height: 100%;
}
.nr-biaoti{
	width: 100%;
	height: 147px;
	float: left;
	line-height: 147px;

	
}
.skill-zi{
    
     font-size: 30px;
     color: #a1b3a4;
     text-align: center;

}
.zhuyaonr{
	width: 85%;
	height:460px;
	margin: 0 auto;
}
.gerentouxiang{
	width: 32%;
	height: 100%;
	background: #A1B3A4;
	float: left;
}
.skilljiesao{
	width: 65%;
	height:100%;
	overflow: hidden;
	float: right;
	
	
}
.touxiang{
	width: 200px;
	height: 200px;
	border-radius:50%;
	margin: 0 auto;
	margin-top: 100px;



}
.touxiang img{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid #000;
	transition: all .3s;
}
.touxiang:hover img{

	transform: scale(1.2, 1.2);
	box-shadow: 1px 2px 20px #000;
}
.mingzi{
	width: 100%;
	height: 65px;
	line-height: 65px;

	margin: 0 auto;
	
}
.zhiye{
	width: 100%;
	height: 25px;
	line-height: 25px;

	margin: 0 auto;
}
.zhuyaonr-zi{
	font-size: 24px;
	color: #000;
	text-align: center;
    
}
.zhiye-tu{
	width: 50%;
	height: 30px;
	line-height: 25px;
	
	margin: 0 auto;
	margin-top: 20px;
}
.jqjs-bt{
	width: 100%;
	height: 75px;
	line-height: 75px;
	
	margin-top: 20px;
}
.jqjs-xiaotishiyu{
	width: 100%;
	height: 70px;
	
	padding: 10px;
}
.jindutiao{
	width: 100%;
	height: 273px;

	
}
.jnjs-zi{
	font-size: 28px;
	color: #000;
	font-weight: bold;
	text-align: center;
}
.tushiyu{
	font-size: 20px;

}
.xiaobiaoti{
	width: 30%;
	height: 45px;
	float: left;
	line-height: 45px;
	
	margin-top: 20px;
	margin-left: 10px;
}
.jindu{
	width: 50%;
	height: 10px;
	border-radius: 40%;
	line-height: 45px;
	background: #ccc;
	margin-top: 40px;
	float: left;
	position: relative;
    border-radius: 10px;
	
}
.jindu div{
	height: 100%;
	border-radius: 10px;
	position: absolute;
	top:0;
	left:0;
	background: #000;
	width: 0%;
	transition: all 3s;
}
.jindu1{

}
/*.jindu2{
	width: 90%;
}
.jindu3{
	width: 90%;
}
.jindu4{
	width: 90%;
}*/
.baifenbi{
	width: 18%;
	height: 45px;
	line-height: 45px;
	
	margin-top: 20px;
	float: left;
	
}
.xiaozi-skill{
	font-size: 24px;
	font-weight: bold;
	color: #000;
	text-align: center;
}
.zuopin{
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
	margin: 0 auto;
	/* display: flex;
	flex-direction: row;
	justify-content: space-between; */
	
}
.zuopin-box{
	width: 85%;
	height: auto;
	overflow: hidden;
	
	margin: 0 auto;
}

.zuopin-zhezhao{
	width:100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	float: left;
	/* margin-top: 30px;
	margin-left: 110px; */

	position: absolute;
	top: 0px;
	left: 0px;
	line-height: 350px;
	margin: auto;
	display: none;

}
.zhezhao-zi{
	font-size: 28px;
	color: #fff;
	text-align: center;
}
.zuopin1.w:hover .zuopin-zhezhao{
	animation: xianshi-jiantou .3s linear forwards;
	display: block;
}
.zuopin1.d:hover .zuopin-zhezhao{
	animation: xianshi-jiantou .3s linear forwards;
	display: block;
}
.zuopin1.a:hover .zuopin-zhezhao{
	animation: xianshi-jiantou .3s linear forwards;
	display: block;
}
.zuopin1.g:hover .zuopin-zhezhao{
	animation: xianshi-jiantou .3s linear forwards;
	display: block;
}
.zuopin1.h:hover .zuopin-zhezhao{
	animation: xianshi-jiantou .3s linear forwards;
	display: block;
}
.zuopin1.f:hover .zuopin-zhezhao{
	animation: xianshi-jiantou .3s linear forwards;
	display: block;
}
@keyframes xianshi-jiantou{
            0%{
                opacity: 0;
                
            }
            10%{
                opacity: 0.1;
                
            }
            20%{
                opacity: 0.2;
                
            }
            30%{
                opacity: 0.3;
               
            }
            40%{
                opacity: 0.4;
                
            }
            50%{
                opacity: 0.5;
                
            }
            60%{
                opacity: 0.6;
               
            }
            70%{
                opacity: 0.7;
              
            }
            80%{
                opacity: 0.8;
                
            }
            90%{
                opacity: 0.9;
              
            }
            100%{
                opacity: 1;
            
            }
        }

/* .zuopin1.a{
	width: 30%;
	height: auto;
	overflow: hidden;
	
	float: left;
	
	
	position: relative;
} */

.zuopin1{
	width: 100%;
	height: 100%;
	
	float: left;
	padding: 30px;
	border: 1px solid #000;
	position: relative;
}
.gallery-nr{
	width: 100%;
	height:400px;
	overflow: hidden;
	
	/* display: flex;
	margin: 0 auto;
	flex-direction: row;
	justify-content: space-between; */
	
}
.gallery-box{
	width: 85%;
	height: 100%;
	overflow: hidden;
	
	margin: 0 auto;

}
.gallery-nr-xiabox{
	width: 25%;
	height: 282px;
	padding: 5px 10px;
	float: left;
	
}
.gallery-nr-xiabox:hover{
    border: 1px solid #000;
}

.lianxiwo{
	width: 100%;
	height: auto;
	overflow: hidden;
	
	float: left;
	border-bottom: 2px solid #ccc;
}
.lianxiwo-box{
	width: 85%;
	height: 439px;
	margin:0 auto ;
	background: rgba(0, 0, 0, 0.2);
	padding:0 20px;
}
.lianxiwo-left{
	width: 50%;
	height: 439px;
	float: left;
	
	padding: 10px;
}
.lianxiwo-right{
	width: 50%;
	height: 439px;
	float: left;
	
	padding-left: 100px;
}
.xingmingkuang{
	width: 100%;
	height: 50px;
	
	margin-top: 25px;
	padding: 10px;
	line-height: 30px;

	border-bottom: 2px solid #000;
}

.xingmingkuang.jianyi{
	height: 140px;
	margin-top: 50px;
	line-height: 15px;
	

}
.wenbenName{
	float: left;
	width: 80%;
	height: 100%;
	background: #ccc;
	border: 0px;
	outline: 0;

}

.xingmingkuang.send{
	height: 73px;
	margin-top: 10px;
	border: 0px;
}
.mingzi-ziti{
	font-size: 18px;
	float: left;

}
.send-box{
	width: 135px;
	height: 56px;
	line-height: 56px;
	background: #A1B3A4;
}
.send-ziti{
	font-size: 36px;
	color: #fff;
	text-align: center;
}
.send-box:hover{
	background: #000;
}
.wodelianxifangshi{
	width: 100%;
	height: 63px;

	margin-top: 50px;
	line-height: 43px;
	padding: 10px;
}
.wodelianxifangshi.a{
	margin-top: 20px;
}
.wodelianxifangshi.tel{
	margin-top: 40px;
}
.info-zi{
	font-size: 22px;
	font-weight: bold;
}
.tel-zi{
	font-size: 20px;
	text-align: left;
}
.zihezi{
	width: 70%;
	float: left;
	padding: 20px;
	
}
.dazihezi{
	width: 10%;
	float: left;

}
.tel-xiaozi{
	font-size: 22px;
	color: #000;

}
.footer{
	width: 100%;
	height: 50px;
	
	float: left;
	
	padding: 10px;
	


	
}
.text-center{
	font-size: 16px;
	color: #ccc;
	text-align: right;


}
.text-center.a{
	position: fixed;
	bottom: 0px;
	right: 0px;
	margin: auto;

}
.fanhui{
	width: 100px;
	height: 50px;
	
	margin: 0 auto;
	margin-top: 20px;

}

.text-center.a{
	color: #000;
	margin-bottom: 5px;

}

@media screen and (max-width: 768px) {
	  .gerentouxiang{
	   width: 100%;
	   height: 460px;
	
             }
       .skilljiesao{
			width: 100%;
			
         }
         .zhongjian{
         	display: none;
         }
        .zhongjianxia{
         	width: 100%;
         }
         .lianxiwo-right{
         	width: 100%;
         	padding: 10px;
         }
          .lianxiwo-left{
         	width: 100%;

         }
         .zhezhao .xiaobiaoti1{
         	display: none;
         }
          .zhezhao .xiaobiaoti2{
         	display: none;
         }
          .zhezhao .xiaobiaoti3{
         	display: none;
         }
          .zhezhao .xiaobiaoti4{
         	display: none;
         }
         .gallery-nr-xiabox{
             width: 100%;
            
         }
        
        
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
	  .gerentouxiang{
	   width: 100%;
	   height: 460px;
	
             }
       .skilljiesao{
			width:100%;
		    height: 460px;
         }
         
        
         .gallery-nr-xiabox{
             width: 50%;
            
         }
         .lianxiwo-right{
         	width: 100%;
         	padding: 10px;
         }
          .lianxiwo-left{
         	width: 100%;
         }
         .zhezhao ul{
         	display: none;
         }
        
}
@media screen and (min-width:1024px) {
	 
        .zhezhao ul{
         	display: none;
         }
        
}

@media screen and (max-width:610px) {
	 
        .jindu{
        	width: 80%;
        }
        .zhongjian{
         	display: none;
         }
         .zhongjianxia{
         	width: 100%;
         }
}
.section{
	height:100%;
}
.fp-controlArrow.fp-prev{
	border-color: transparent #ccc transparent transparent;

}
.fp-controlArrow.fp-next{
	border-color: transparent transparent transparent #ccc;
}
.swiper-container {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
}
.swiper-slide {
	background-position: center;
	background-size: cover;
	width: 300px;
	height: 350px;
	position: relative; transition: all 1s;

}
.next{
    width: 30px;
	height: 30px;
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	bottom: 20px;
	right: 0;
	left: 0;
	margin: auto;
	z-index: 33;
	border-radius: 50%;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	transform: rotate(90deg);
	cursor: pointer;
}
