header{
	width: 100%;
	height: 40px;
    background: #333333;
}
.hearder-main{
	width: 1226px;
	height: 100%;
	/* background: blue; */
	margin: 0 auto;
	overflow: hidden;


}
.header-main a:hover{
	color: #fff;
}

.zi{
	font-size: 12px;
	color: #B0B0B0;
	line-height: 40px;
	float: left;
	margin-left: 8px;
}
.tiao{
	color: #3D423D;
	float: left;
	line-height: 45px;
	margin-left: 8px;
}
.buy{
	width: 120px;
	height: 40px;
	/* background: #424242; */
	background-image: url('../images/QQ截图20170308185403_02.png');
	background-position: 0px 0px;

	float: right;
}
.buy:hover{
	
	background-image: url('../images/QQ截图20170308230628.png');
	background-position: 0px 0px;

}
.daohang{
	width: 1226px;
	height: 56px;
	/* background: blue; */
	margin: 0 auto;
	margin-top: 25px;


}
.daohang-left{
	width: 983px;
	height: 100%;
	/* background: yellow; */
	float: left;
}
.daohang-right,daohang-right1 li{
	float:left;
}
.daohang-right1 li{
	font-size: 14px;
	color: #333333;
	margin-right: 20px;
}
.daohang li a:hover{
	color: red;
}
.sousuotu{
	width: 50px;
	height: 50px;
	/* background: yellow; */

	
	float: right;
	margin-top: 3px;
background-image: url('../images/sousuo.png');
	background-position: 0px 0px;
}
.sousuotu:hover{
	background-image: url('../images/sousuo1.png');
	background-position: -44px -18px;
}
.logo{
	width: 55px;
	height: 55px;
	background:  #FF6700 url('../images/mi-logo.png') center;
	float: left;

}
.banner{
	width: 1226px;
	height: 460px;

	margin: 0 auto;
	margin-top: 26px;
	position: relative;
	overflow: hidden;

}
.banenr-tu-box{
	width:100%;
	height:100%;
	position: relative;

}
.bannertu{
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
	margin: auto;
	opacity: 0;
	transition: 1s;
	cursor: pointer;
}
.bannertu:first-child{
	opacity: 1;
}
.jiantouzuo{
	width: 41px;
	height:69px;
	/* background: blue; */
	float: left;
	position: absolute;
	top: 200px;
	left: 234px;
	background-image: url('../images/icon-slides.png');
	background-position: -83px 0px;
}
.jiantouyou{
	width: 41px;
	height: 69px;
	/* background: blue; */
	float: left;

	position: absolute;
	top: 200px;
	right: 0px;
	background-image: url('../images/icon-slides.png');
	background-position: -125px 0px;
}
.jiantouzuo:hover{
	width: 41px;
	height: 69px;
	background: #b0b0b0;
	background-image: url('../images/icon-slides.png');
	background-position: 0px 0px;
}
.jiantouyou:hover{
	width: 41px;
	height: 69px;
	background: #b0b0b0;
	background-image: url('../images/icon-slides.png');
	background-position: -42px 0px;
}


.yuan{
	width: 90px;
	height: 12px;
	/* background: yellow; */
	float: left;
	position: absolute;
	top: 426px;
	right: 35px;
	z-index: 9;
}

.yuan div{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #fff;
	float: left;
	margin-right: 6px;
	border: 1px solid #b0b0b0;
}
.banner img{
	width: 100%;
    height: 100%;
}
.banner aside{
	width: 234px;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin: auto;
	z-index: 9;

}
.banner aside ul{
	margin-top: 20px;
	width: 234px;
}
aside ul li{
	color: #fff;
    width: 100%;
	line-height: 42px;
	padding: 0px 24px;
	float: left;
}
.banner aside .right-zi{
	float: right;
}
.right-zi span{
	float: left;
}
.right-zi .right-zi1{
	float: right
}
.right-child{
	height:460px;
	position: absolute;
	left:234px;
	top:0;
	background: #fff;
}
.right-child.a1{
	width:795px;
	position: absolute;
	z-index: 30;
	display: none;
}
.right-child-box{
	width: 265px;
	height: 650px;
    float: left;

}
.right-child-nr{
	width: 265px;
	height: 76px;
	padding:20px;

}
.right-child-nr-tu{

	height: 40px;

}
.right-child-nr-chanpin{
	width: 40px;
	height: 40px;

	float: left;

}
.right-child-nr-zi{
	width: 100px;
	height: 40px;
	float: left;
	font-size: 14px;
	color: #ccc;
	text-align: center;
	line-height: 40px;

}
.right-child-nr-xuangou{
	width: 60px;
	height: 24px;
	float: right;
	margin-top: 6px;
	border: 1px solid #ff6700;
	font-size: 12px;
	color: #ff6700;
	text-align: center;
	line-height: 24px;
}
.liebiao,.liebiao li{
	float: left;
}
.liebiao li{
	font-size: 14px;
	color: #333333;
	margin-right: 20px;
	line-height: 55px;
}
.liebiao li a:hover{
	color: red;
}
.liebiao .li9{
	margin-right: 0px;
}
.bankuai{
	width: 100%;
	height: 170px;
	
	margin-top: 15px;
}
.bankuai-main{
	width: 1226px;
	height: 100%;
	/* background: blue; */
	margin:  0 auto;
}
.bankuai-left{
	width: 235px;
	height: 170px;
	background: #b0b0b0;
	float: left;
}
.bankuai-right{
	width: 980px;
	height: 170px;
	
	
	float: right;
}
.right-left{
	width: 316px;
	height: 170px;
	background: #b0b0b0;
	margin-right: 15px;
	float: left;
	transition: all .3s linear; 
}
.right-left:hover {
    box-shadow: 0px 14px 20px 2px #bbb;
    transform: translateY(-5px);
}
.right-right:hover {
    box-shadow: 0px 14px 20px 2px #bbb;
    transform: translateY(-5px);
}
.right-right{
	width: 316px;
	height: 170px;
	transition: all .3s linear; 
	/* background: cyan; */
	
	float: left;
}
.bankuai-main img{
	width: 100%;
	height: 100%;
}
.bankuai-left div{
	width: 76px;
	height: 82px;
	background: #5F5750;
	float: left;
	border: 1px solid #b0b0b0;
}


.mingxing-biaoti{
    width: 1226px;
    height: 58px;
    /* background: yellow; */
    margin: 0 auto;
}
h2{
	line-height: 58px;
	color: #333333;
	float: left;
	font-weight: 200;
	font-size: 22px;
}
.anniu{
	width: 32px;
	height: 26px;
	
	float: right;
	
	margin-top: 21px;
	border: 1px solid #b0b0b0;
	cursor: pointer;
	text-align: center;
	font-size: 24px;
	line-height: 26px;
	color: #bbb;
}
.mingxing-tu{
	width: 1226px;
	height: 380px;
	margin: 0 auto;
	overflow: hidden;
	
}
.mingxing-tu-dabox{
	width: 2452px;
	height: 380px;
	transition: all .3s;
}
.tu{
	width: 234px;
	height: 340px;
	background: #FAFAFA;
	float: left;
	margin-right: 14px;
	position: relative;
	cursor: pointer;

}
.a{
	border-top: 2px solid #FFAC13;
}
.b{
	border-top: 2px solid #00C0A5;
}
.c{border-top: 2px solid #E53935;
	
}
.d{
	border-top: 2px solid #2196F3;
}
.e{
	width: 234px;
	height: 340px;
	background: #FAFAFA;
	position: relative;
	float: left;
	margin:0;
	border-top: 2px solid #00C0A5;
}
.tupian{
	width: 160px;
	height: 160px;
	/* background: yellow; */
	margin-top: 57px;
	margin: 0 auto;
	position: absolute;
	top: 57px;
	left: 36px;
	margin: auto;
}
.wenzi{
	width: 234px;

	height: 70px;
	/* background: blue; */
	position: absolute;
    bottom: 42px;
    left: 0px;
}
.wenzi1{
    width: 234px;
    height: 21px;
    /* background: pink; */
    float: left;
    /* margin-top: 49px; */
}
.wenzi2{
    width: 234px;
    height: 18px;
    /* background: cyan; */
    float: left;
    margin-top: 5px;
    /* margin-top: 49px; */
}
.wenzi3{
    width: 234px;
    height: 21px;
    /* background: pink; */
    float: left;
    margin-top: 5px;
   /*  margin-top: 49px; */
}
.tupian img{
	width: 100%;
	height: 100%;
}
h3{
    
	text-align: center;

	font-size: 16px;
}
p{
	text-align: center;
	color: #B0B0B0;
	font-size: 12px;
}
.price{
	text-align: center;
	color: #FE7427;
	font-size: 16px;
}
.beijing{
	width: 100%;
	height: 4500px;
	background: #F5F5F5;
	overflow: hidden;
}
.yingjian-biaoti{
	width: 1226px;
	height: 58px;
	/* background: yellow; */
	margin: 0 auto;
	overflow: hidden;
}
.chakan{
   width: 92px;
   height: 58px;
  
   float: right;
   text-align: left;
   line-height: 58px;
   position: relative;
}
.yingjian-chakan-tu{
	width: 23px;
	height: 23px;
	float: right;
	
	position: absolute;
	right: 0px;
	bottom: 0px;
	top: 0px;
	margin: auto;
	display: inline-block;
	background-image: url('../images/20.png');

}
.yingjian-chakan-tu:hover{
	background-image: url('../images/21.png');
}
.yinjian-zi{
	color: #bbb;
}
.yingjian-tu{
	width:1226px;
	height: 628px;
	/* background: pink; */
	margin: 0 auto;
}
/* .zhinengyingjian-chakan{
	width: 60px;
	height: 58px;
	background: pink;
	float: left;
}
.zhinengyingjian-chakan-zi{
	width: 29px;
	height: 58px;
	background: pink;
	float: left;
} */
.zhutu{
	width: 240px;
	height: 614px;
	float: left;
	/* background: blue; */
	transition: all .6s linear;
}
.zhuti-tu{
    width: 980px;
    height: 614px;
    /* background: yellow; */
    float: right
}
.zutu{
	width: 234px;
	height: 300px;
	background: #fff;
	float: right;
    margin-left: 11px;
    position: relative;
    transition: all .6s linear;
    overflow: hidden;

}
.zutu:hover{
      box-shadow: 0px 14px 20px 2px #bbb;
      transform: translateY(-5px);
}
.zutu1:hover{
    box-shadow: 0px 14px 20px 2px #bbb;
      transform: translateY(-5px);
}
.zhutu:hover{
	box-shadow: 0px 14px 20px 2px #ccc;
      transform: translateY(-5px);
}
.zutu1{
	width: 234px;
	height: 300px;
	background: #fff;
	float: right ;
    margin-left: 11px;
    margin-top: 10px;
    position: relative;
     transition: all .3s linear;
     overflow: hidden;
}

.datu{
	width: 234px;
	height: 628px;

}
.yingjian-tu img{
	width: 100%;
	height: 100%;
}
.zhineng{
	width: 160px;
	height: 160px;
	background: yellow;
	
	margin: 0 auto;
	position: absolute;
	top: 25px;
	left: 36px;
	margin: auto;
}
.zhineng-zi{
	width: 234px;

	height: 70px;
	/* background: blue; */
	position: absolute;
    bottom: 42px;
    left: 0px;
}
.zn-zi1{

width: 234px;
    height: 21px;
    /* background: pink; */
    float: left;
    /* margin-top: 49px; */
}
.zn-zi2{
    width: 234px;
    height: 18px;
    /* background: cyan; */
    float: left;
    margin-top: 5px;
    /* margin-top: 49px; */
}
.zn-zi3{
    width: 234px;
    height: 21px;
    /* background: pink; */
    float: left;
    margin-top: 5px;
   /*  margin-top: 49px; */
}
.dapei-mulu{
    width: 384px;
    height: 42px;
 
    float: right;
    /* line-height: 58px; */
    margin-top: 8px;
}
.dapei-remen{
	width: 45px;
	height: 30px;

	float: right;

	margin-top: 5px;
	margin-left: 20px;
}
.dapei-erji-zi{
	width: 100px;
	height: 30px;

	float: right;

	margin-top: 5px;
	margin-left: 20px;
}
.dapei-cunchuka{
	width: 100px;
	height: 30px;
	
	float: right;

	margin-top: 5px;
	margin-left: 20px;
}

.dapei-mulu a:hover{
	color: orangered;

}


.fubiaoti{
	font-size: 16px;
	color: #000;
	/* float: left; */
	text-align: center;
}
.fubiaoti:hover{
	color: orangered;
	text-decoration: underline orangered;
}

.datu1{
	width: 234px;
	height: 300px;
	background: yellow;
	transition: all .6s linear;

}
.datu2{
	width: 234px;
	height: 300px;
	background: yellow;
	margin-top: 10px;
	transition: all .6s linear;
}
.dapei-more{
	width: 234px;
	height: 143px;
	background:#fff;
	margin-top: 10px;
	transition: all .6s linear;
}
.dapei-erji{
	width: 234px;
	height: 143px;
	background:#fff;
	transition: all .6s linear;
}
.dapei-datu{
	width: 240px;
	height: 614px;
	float: left;
	
	transition: all .6s linear;
	
}
.dapei-erji:hover{
    box-shadow: 0px 14px 20px 2px #bbb;
      transform: translateY(-5px);
}
.dapei-more:hover{
	box-shadow: 0px 14px 20px 2px #bbb;
      transform: translateY(-5px);
}
.datu1:hover{
    box-shadow: 0px 14px 20px 2px #bbb;
      transform: translateY(-5px);
}
.datu2:hover{
	box-shadow: 0px 14px 20px 2px #bbb;
      transform: translateY(-5px);
}
.dapei-zutu{
	width: 234px;
	height: 300px;
	
	float: right ;
    margin-left: 11px;
    margin-top: 10px;
    position: relative;
     
}
.erji-tu{
	width: 80px;
	height: 80px;
	background: blue;
	float: right;
    margin-top: 31px;
    margin-right: 20px;

}
.dapei-zi1{
	width: 110px;
	height: 21px;
	
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}
.dapei-zi2{
	width: 92px;
	height: 21px;

	float: left;
	margin-top: 5px;
	margin-left: 20px;

}
.more-tu{
	width: 48px;
	height: 48px;
	background: blue;
	float: right;
    margin-top: 48px;
    margin-right: 30px;
}
.liulanmore{
	width: 110px;
	height: 30px;
	background: pink;
	float: left;
	margin-top: 50px;
	margin-left: 20px;
}
.more-zi{
	font-size: 22px;
	color: #000;
}
.bottom{
	width: 234px;
	height: 100px;
	background: orange;
	float: left;
	position: absolute;
    left: 0px;
    bottom: -100px;
    margin: auto;
    opacity: 0;
}
.zutu:hover .bottom{
	animation: xianshi .2s linear forwards;
}
.zutu1:hover .bottom{
	animation: xianshi .2s linear forwards;
}

@keyframes xianshi{
            0%{
                opacity: 0;
                transform: translateY(0px);
            }
            10%{
                opacity: 0.1;
                transform: translateY(-10px);
            }
            20%{
                opacity: 0.2;
                transform: translateY(-20px);
            }
            30%{
                opacity: 0.3;
                transform: translateY(-30px);
            }
            40%{
                opacity: 0.4;
                transform: translateY(-40px);
            }
            50%{
                opacity: 0.5;
                transform: translateY(-50px);
            }
            60%{
                opacity: 0.6;
                transform: translateY(-60px);
            }
            70%{
                opacity: 0.7;
                transform: translateY(-70px);
            }
            80%{
                opacity: 0.8;
                transform: translateY(-80px);
            }
            90%{
                opacity: 0.9;
                transform: translateY(-90px);
            }
            100%{
                opacity: 1;
                transform: translateY(-100px);
            }
        }

.donghua-zi1{
    width: 234px;
    height: 18px;
    /* background: cyan; */
    float: left;
    margin-top: 20px;
    /* margin-top: 49px; */
}
h4{
	color: #fff;
	text-align: center;
}
.donghua-pingjia{
	color: #ffb;
}
.weinituijian-box{
	width: 4904px;
	transition: all 1s;
}
.weinituijian-xiaobox{
	width: 1226px;
	margin: 0 auto;
	overflow: hidden;
}
.weinituijian{
	width: 1226px;
	height: 320px;
	float:left;
	/*margin-left:55px;*/
}
img{
	width: 100%;
	height: 100%;
}


.reping{
	width: 1226px;
	height: 415px;

	margin: 0 auto;
}
.reping-nr{
	width: 296px;
	height: 415px;
     background: #fff;
	float: left;
	margin-right: 14px;
	position: relative;
	  transition: all .6s linear;

}
.reping-nr:hover{
      box-shadow: 0px 14px 20px 2px #bbb;
      transform: translateY(-5px);
}
.reping-nr1:hover{
      box-shadow: 0px 14px 20px 2px #bbb;
      transform: translateY(-5px);
}
.reping-nr1{
	width: 296px;
	height: 415px;
       background: #fff;
	float:right;
	/* margin-right: 10px; */
	position: relative;
	 transition: all .6s linear;
}
.reping-tu{
	width: 296px;
	height: 226px;
	float: left;
	background: green;
}
.reping-zi{
	width: 240px;
	height: 72px;
	float: left;

    position: absolute;
    top: 256px; 
    left: 0px;
    right: 0px;  
	margin: auto;
}
.reping-zi1{
	width: 240px;
	height: 18px;
	float: left;

    position: absolute;
    bottom : 56px; 
    left: 25px;
    
	margin: auto;
}
.reping-zi2{
	width: 240px;
	height: 18px;
	float: left;
	
    position: absolute;
    bottom : 30px; 
    left: 25px;
    
	margin: auto;
}
.reping-zi2-left{
	width: 156px;
	height: 16px;
	
	float: left;
}
.reping-zi2-right{
	width: 60px;
	height: 16px;
	
	float: right;
}
.haoping{
	font-size: 14px;
	color: #000;
	text-align: left;
}
.pingjia-ren{
	font-size: 12px;
	color: #bbb;
	text-align: left;
}
.neirong{
	width: 1226px;
	height: 420px;

	margin: 0 auto;
}
.neirong-bankuai-box{
	width: 296px;
	height: 420px;
	margin-right: 14px;
	overflow: hidden;
	position: relative;
	float: left;
}
.neirong-bankuai2-dabox{
	width:1184px;
	height: 420px;
}
.neirong-bankuai-dabox{
	width: 888px;
	height: 420px;
}
.neirong-bankuai-box:nth-child(4){
	margin-right: 0;
}
.neirong-bankuai,.neirong-bankuai2,.neirong-bankuai3{
	width: 296px;
	height: 420px;
    position: relative;
	background: #fff;
	float: left;
	transition: all .6s linear;

}
.neirong-bankuai{
	border-top: 2px solid orange;
}
.neirong-bankuai2{
	border-top: 2px solid green;
}
.neirong-bankuai3{
	border-top: 2px solid red;
}

.neirong-bankuai:hover{
      box-shadow: 0px 14px 20px 2px #bbb;
      transform: translateY(-5px);
}
.neirong-bankuai2:hover{
      box-shadow: 0px 14px 20px 2px #bbb;
      transform: translateY(-5px);
}
.neirong-bankuai3:hover{
      box-shadow: 0px 14px 20px 2px #bbb;
      transform: translateY(-5px);
}
.neirong-bankuai1{
	width: 296px;
	height: 420px;
    position: relative;
	background: #fff;
	float: right;
	border-top: 2px solid blue;
 transition: all .6s linear;

}
.neirong-bankuai1:hover{
      box-shadow: 0px 14px 20px 2px #bbb;
      transform: translateY(-5px);
}
.nrbk-zi1{
	width: 270px;
	height: 21px;
	
	
	position: absolute;
	top: 46px;
	left: 0px;
	right: 0px;

	margin:  auto;
}
.nrbk-zi2{
	width: 256px;
	height: 25px;
	
	
	position: absolute;
	top: 88px;
	left: 0px;
	right: 0px;
	
	margin:  auto;
}
.nrbk-zi3{
	width: 200px;
	height: 40px;

	
	position: absolute;
	top: 120px;
	left: 0px;
	right: 0px;
	
	margin:  auto;
}
.nrbk-zi4{
	width: 250px;
	height: 16px;

	
	position: absolute;
	top: 168px;
	left: 0px;
	right: 0px;
	
	margin:  auto;
}
.nrbk-tu{
	width: 216px;
	height: 154px;
	
	
	position: absolute;
	top: 200px;
	left: 0px;
	right: 0px;
	margin:  auto;
}
.nrbk-lunbo{
	width: 90px;
	height: 30px;
	position: absolute;
	bottom: 22px;
	left: 0px;
	right: 0px;
	margin:  auto;
}
.nrbk-lunbo1{
	width: 120px;
	height: 30px;
	
	position: absolute;
	bottom: 22px;
	left: 0px;
	right: 0px;
	
	margin:  auto;
}
.nrbk-lunbo-yuan{
	width: 30px;
	height: 30px;
	margin: 0 auto;
    position: relative;
	
	float: left;
}
.nrbk-yuan{
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #bbb;
	float: left;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: auto;

}
.nrbk-yuan:hover{
	background: orange;
}
.nrbk-yuan1{
	width: 8px;
	height: 8px;
	border: 2px solid orange;
	border-radius: 50%;
	background: #fff;
	float: left;
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: auto;

}
.neirong-bankuai-jiantouzuo{
	width: 20px;
	height: 48px;
	background: #bbb;
	float: left;
	margin-top: 186px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	z-index: 5;
	opacity: 0;
}
.neirong-bankuai-jiantouyou{
	width: 20px;
	height: 48px;
	background: #bbb;
	float: right;
	margin-top: 186px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 5;
	opacity: 0;
}
.neirong-bankuai-box:hover .neirong-bankuai-jiantouyou{
	opacity: 0.5;
}
.neirong-bankuai-box:hover .neirong-bankuai-jiantouzuo{
	opacity: 0.5;
}
.neirong-bankuai-jiantouzuo:hover{
	opacity: 1;
}
.neirong-bankuai-jiantouyou:hover{
	opacity: 1;
}
.yanse{
	font-size: 16px;
	color: orange;

}
.yanse1{
	font-size: 16px;
	color: green;

}
.yanse2{
	font-size: 16px;
	color: red;

}
.yanse3{
	font-size: 16px;
	color: blue;

}
.shuming{
	font-size: 22px;
	color: #000;
}
.jiage{
	font-size: 16px;
	color: #000;
}

@keyframes xianshi-jiantou{
            0%{
                opacity: 0;
                
            }
            10%{
                opacity: 0.1;
                
            }
            20%{
                opacity: 0.2;
                
            }
            30%{
                opacity: 0.3;
               
            }
            40%{
                opacity: 0.4;
                
            }
            50%{
                opacity: 0.5;
                
            }
            60%{
                opacity: 0.6;
               
            }
            70%{
                opacity: 0.7;
              
            }
            80%{
                opacity: 0.8;
                
            }
            90%{
                opacity: 0.9;
              
            }
            100%{
                opacity: 1;
            
            }
        }

.shipin{
	width: 1226px;
	height: 285px;

    
	margin: 0 auto;
}
.shipin-zuti1{
	width: 296px;
	height: 285px;
	float: right;
	background: #fff;
	margin-left: 14px;
	position: relative;
	transition: all .6s linear;
	position: relative;
}
.shipin-zuti{
	width: 296px;
	height: 285px;
	float: right;
	background:#fff;
	position: relative;
	transition: all .6s linear;
	position: relative;
	
}
.shipin-tu{
	width: 296px;
	height: 180px;
	background: green;
	float: left;
}
.shipin-zi{
	width: 184px;
	height: 16px;
	/* background: yellow; */
	float: left;
	position: absolute;
	right: 0px;
	left: 0px;

	margin: auto;
	margin-top: 210px;
}
.shipin-zi1{
	width: 296px;
	height: 16px;
	/* background: yellow; */
	float: left;
	position: absolute;
	right: 0px;
	left: 0px;

	margin: auto;
	margin-top: 230px;
}
.shipin-zuti1:hover{
      box-shadow: 0px 14px 20px 2px #bbb;
      transform: translateY(-5px);
}
.shipin-zuti:hover{
      box-shadow: 0px 14px 20px 2px #bbb;
      transform: translateY(-5px);
}
.shipin-dazi{
	font-size: 14px;
	color: #000;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
}
.shipin-bofangjiantou{
	width: 44px;
	height: 31px;
    background-image: url('../images/icon.png');
	float: left;
	position: absolute;
	bottom:120px;
	left: 20px;
	margin: auto;
}
.shipin-bofangjiantou:hover{
	 background-image: url('../images/icon2.png');
}

.dibu{
	width: 1226px;
	height: 80px;
	/* background: yellow; */
	border-bottom: 2px solid #bbb;
	margin: 0 auto;
}
.dibu-zhuyaonr{
	width: 1226px;
	height: 25px;
	/* background: blue; */
	float: left;
	margin-top: 27px;
}
.dibuzynr-zi{
	width: 244px;
	height: 25px;
	float: left;
	/* background:pink; */
	border-right: 1px solid #bbb;
}
.dibuzynr-zi1{
	width: 244px;
	height: 25px;
	float: left;
	/* background:pink; */
	
}
.dibu-xiaotubiao{
	width: 24px;
	height: 25px;
	float: left;
	/* background: blue; */
	

}
.dibu-zinr{
	width: 190px;
	height: 25px;
	float: left;
	/* background: green; */
	margin-left: 55px;
	
}
.dibu-xiaowenzi{
	width: 140px;
	height: 17px;
	float: left;
	/* background: pink; */
	margin-top: 4px;
	
}
.dibu-wenzi{
	font-size: 18px;
	color: #000;
	text-align: left;
}
.dibu-wenzi:hover{
	color: orangered;
}
.dibu2{
	width: 1226px;
	height: 192px;
	/* background: blue; */
	margin: 0 auto;
}
.dibu2-neirong{
	width: 160px;
	height:112px;
	float: left;
	margin-top: 40px;
	/* background: yellow;  */
}
.dibu2-neirong-right{
	width: 252px;
	height:112px;
	float: left;
	margin-top: 40px;
	border-left: 1px solid #bbb;
	/* background: orange;  */
}
dd{
   margin-top: 10px;
   font-size: 12px;
   color: #bbb;
}
dl{
   margin-bottom: 20px;
   font-size: 14px;
}


dd:hover{
	color: orange;
}
.dibu2-right-tel{
	width: 251px;
	height: 22px;
	float: left;
	margin-bottom: 8px;
	/* background: yellow; */
}
.dibu2-right-week{
	width: 160px;
	height: 17px;
	float: left;
	/* background: pink; */
	margin-top: 3px;
	margin-left: 52px;
}
.dibu2-right-kefu{
	width: 120px;
	height:30px;
	float: left;
	background: #fff;
	margin-top: 8px;
	margin-left: 75px;
	border: 1px solid red;

}
.tel{
	color: red;
	font-size: 22px;
}
.kefu{
	color: red;
	font-size: 14px;
	text-align: center;
	line-height: 30px;
}
.kefu:hover{
	background: orange;
	color: #fff;
}
.dibu2-right-kefu{
	/* background: orange; */
}
.dibu3{
	width: 1329px;
	height: 166px;
	/* background: yellow; */
}
