body{
	position: relative;
}

.head{
	width: 6.8rem;
	height: 0.88rem;
	background: #eee;
	line-height: 0.88rem;

	border: 0.02rem solid #e1e1e1;
}
.wenzi{
	font-size: 0.28rem;
	color: #333;
	margin-left: 0.1rem;
}
.main{
	width: 6.8rem;
	height: 12.46rem;
	background: #fff;
}
.celan{
	width: 1.5638rem;
	height: 12.46rem;
	background: yellow;
	float: left;
	border-left: 0.02rem solid #e1e1e1;
	overflow-x:hidden; 
	/* overflow-y:visible; */
	overflow-y: auto;
	overflow-y: scroll;
}
.celan-nr{
	width: 100%;
	height: 1.2rem;
	background:#eee;
	line-height: 1.2rem;
	float: left;
	border-bottom: 0.02rem solid #e1e1e1;
}
.celan-nr a
.celan li:nth-child(1){
      background: #fff;
}
.zhuyao{
	width: 5.236rem;
	height: 12.46rem;
	overflow-x:hidden; 
	/* overflow-y:visible; */
	overflow-y: auto;
	overflow-y: scroll;
	 
	float: left;
}
.zhuyaonr-biaoti{
      width:4.8172rem; 
      height:0.88rem;
      float: left;
      line-height: 0.88rem;
      
      margin-top: 0.16rem;
      margin-bottom: 0.16rem;
}
.zhuyaonr-box{
      width:4.8172rem;
      height: 2.04rem;
      float: left;
     
}
.minbox{
	width: 1.6056rem;
	height: 1.84rem;
	
	float: left;

}
.minbox-tu{
	width: 1.22rem;
	height: 1.22rem;
	margin: auto;
	
}
.minbox-zi{
	width: 1.6056rem;
	height: 0.62rem;
	margin: auto;
	line-height: 0.62rem;
	
}
.zimin{
	font-size: 0.28rem;
	color: #333;
	text-align: center;

}
img{
	width: 100%;
	height: 100%;
}
.guding{
	width: 0.7rem;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	float: left;
	position: absolute;
	top: 0rem;
	right: 0rem;
	margin: auto;
}
.zuihou{
	font-size: 0.28rem;
	color: #fff; 
}
.zuihou{
	width: 0.28rem;
	height:2rem;
	
	margin: 0 auto;
	margin-top:5rem;

}