.header{
	width: 100%;
	height: 32px;
	border-bottom: 1px solid #ccc;
	background: #F7F7F7;
	font-size: 12px;
	 color:#808080;
	 line-height: 32px;
}
.header a:hover{
      color: red;
}
.header_main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	/* 块元素居中 */
	background: #F7F7F7;
	overflow: hidden;

}
.header_right{
	width: 432px;
	height: 100%;
	float: right;
	
}
.welcome{
	  
	 float: left;
}
/* 元素浮动以后会脱离文档流 别的元素对他视而不见 */
.denglu{
	width:77px;
	height: 100%;
	/* background: blue; */
	float: left;
	margin-left: 20px;
}
.login{
	  
	 float: left;
}
.regist{
	  
	 float: right;
}
.fenge{
	  
	 float: left;
	 margin-left: 11.5px;

}
.order{
	
	float: left;
	margin-left: 14px;
}

.news{
	width: 72px;
	height: 100%;
	float: left;
	margin-left: 16px;

}
.tu{
	float: left;
	margin-top: 5px;
	
	
}
.word{
	float: right;

}
.tubiao{
	width: 38px;
	height: 100%;
	float: left;
	margin-left: 13px;
}
.weixin{
	float: left;
	margin-top: 5px;

}
.weibo{
	float: right;
	margin-top: 5px;

}
.find{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	/* background: blue; */

	
}
.find-main{
	width: 440px;
	height: 58px;
	/* background: yellow; */
	float: right;
	overflow: hidden;
	position: relative;
}

.buy{
	width: 80px;
	height: 30px;
	background-image: url('../img/vanclsprite.png');
	background-position: -153px 0px; 
	float: right;
	margin-top: 25px;
	margin-left: 20px;
	line-height: 30px;
	

}
.buy span{
	margin-left: 30px;
	margin-top: 10px;
	text-align: center;
	color: #fff;
}
.yincangkuang{
	width: 200px;
	height: 27px;
	position: absolute;
	right:75px;
	top:86px;
	font-size: 12px;
	line-height: 27px;
	border:1px solid #c1383e;
	background: #fff;
	display: none;
	padding-left: 5px;
}
.buy:hover{
	background-position: -154px -29px;
	border: 1px solid #c1383e;
	border-bottom: 3px solid #fff;
}
.buy:hover span{
	color: red;
}
/* .biankuang{
	width: 259px;
	height: 27px;
	border-bottom: 1px solid #C9CACA;
	border-top: 1px solid #C9CACA;
	border-left: 1px solid #C9CACA;
	border-right: 1px solid #C9CACA;
	float: left;
	margin-bottom: 0px;
} */
.biaoti{
	width: 100%;
	height: 20px;
	float: left;
	font-size: 12px;
	 line-height: 20px;
	 color: #7283A8;
}
.biaoti-main{
	width:1200px;
	height: 100%;
	margin: 0 auto;
	overflow: hidden; 
	
	/* background:pink; */
}
.neirong{
	width:418px;
	height: 100%; 
	float: right;
}
.remen{
	float: left;
}
.chenshan{
	float: left;
	margin-left: 13px;
}
.yurong{
	float: left;
	margin-left: 9px;
}
.dayi{
	float: left;
	margin-left: 9px;
}
.weikong{
	float: left;
	margin-left: 9px;
}
.shoe{
	float: left;
	margin-left: 9px;
}
.ku{
	float: left;
	margin-left: 9px;
}
.t{
	float: left;
	margin-left: 5px;
}
.daohang{
	width: 100%;
	height: 54px;
	font-size: 16px;
	 color:#808080;
	 line-height:16px;
    } 
.daohang-main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	text-align: center;
	/* 块元素居中 */
	/* background: #F7F7F7; */
}
.daohang a:hover{
	color: red;
}

.logo{
	float: left;
	display:block;

}
.shouye{
	width:99px;
	height: 20px;
	float: left;
	/*margin-left: 35px;*/
	margin-top: 20px;
	border-right: 1px solid #7283A8;
	/* background: yellow; */
}
.seclists{
	width: 99px;
	height: 20px;
	float: left;

	margin-top: 20px;
	border-right: 1px solid #7283A8;

}

.erweima{
	width: 148px;
	height: 169px;
	background: #fff;
	border: 1px solid #e5e5e5;
	position: absolute;
	top:30px;
	right: 100px;
	margin:auto;
	display: none;
	z-index: 55;

}

.xiala .top{
	width: 99px;
	height: 5px;
	border-bottom: 5px solid #b81c22;

}
.xiala li{
	width: 97px;
	height: 30px;
	line-height: 30px;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	text-align: center;
}
.xiala{
	width:99px;
	height:0;
	overflow: hidden;
    background: #fff;
	position: relative;
	z-index: 20;
    transition: all .5s;

}
.xiala .top{
	border-right: 0px solid red;
	border-left: 0px solid red;
}






.banner{
	width: 100%;
	height: 568px;

	}

.banner-main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	 
}
.jiantouzuo{
	width: 30px;
	height: 53px;
	position: absolute;
    top: 0px;
	bottom:0px;
    left: 13px;
	margin: auto;
	/* background: yellow; */
	background-image: url('../img/focus_lr0918.png');
	background-position: -3px -6px;
	z-index:5;


}
.jiantouzuo:hover{
      background-image: url('../img/focus_lr0918.png');
	background-position: -3px -67px;

}
.jiantouyou{
	width: 30px;
	height: 53px;

	position: absolute;
	top: 0px;
	bottom:0px;
	right: 13px;
	margin: auto;


	/* background: yellow; */
	background-image: url('../img/focus_lr0918.png');
	background-position: -50px -6px;
	z-index:5;
}
.jiantouyou:hover{
      background-image: url('../img/focus_lr0918.png');
	background-position: -50px -67px;
}
.bannertu{
	width:1200px;
	height:535px;
	float: left;
	margin-top: 33px;
	position: relative;
	overflow: hidden;

}
.bannertu-nr{
	width: 1200px;
	height: 535px;
	position: absolute;
	top:0;
	left:0;
	margin: auto;
	opacity: 0;
	transition: 1s;
	cursor: pointer;

}
.bannertu-nr:first-child{
	opacity: 1;
}
.yuan{
	width: 112px;
	height: 12px;
	/* background: blue; */
	position: absolute;
	bottom: 23px;
	right: 560px;
	z-index: 6;
	display: flex;
	justify-content: space-between;
}
.yuana{
	width: 12px;
	height: 12px;
	border-radius: 50%;
    background: #DDDDDD;
    margin-left: 8px;
    float: left;
}
.yuana.r{
	background: #A10000;

}

.zhuti{
	width: 100%;
	height: 130px;
	font-size: 15px;
	color: #9A9A9A;
	line-height: 130px;
	text-align: center
}
.zhuti-main{
	width: 1200px;
	height: 100%;
	background: #FFFFFF;
	float: left;
	margin: 0 auto;


}
/* .zhutizi{
	float: left;
} */
.bankuai1{
	width: 100%;
	overflow: hidden;
}
.bankuai1-main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	/* background: yellow; */
}
.tu5{
	margin-right: 15px;
	float: left;
}
.tu6{
	margin-right: 0px;
	float: left;
}
.zhuti1{
	width: 100%;
	height: 125px;
	font-size: 17px;
	color: #A79AA7;
	line-height: 125px;
	float: left;
	text-align: center;

}
.zhuti1-main{
	width: 1200px;
	height: 100%;
	/* background:blue; */
	margin: 0 auto;

}
.bankuai2-main{
	width: 1200px;
	overflow: hidden;
	margin: 0 auto;
	margin-top: 2px;
	/* background: yellow; */
}
.bankuai2 img{
	width: 100%;
	height: 100%;
}
.bankuai2-left{
	width: 587px;
	height: 509px;
	float: left;

	/* background: pink; */

}
.bankuai2-middle{
	width: 290px;
	height: 509px;
	float: left;
	margin-left: 18px;
	/* background: blue; */
}
.zi{
	width: 290px;
	height: 68px;
	border-left: 1px solid #E8E7EC;
	border-bottom: 1px solid #E8E7EC;
	border-right: 1px solid #E8E7EC;
}
.zi1{
	width: 286px;
	height: 65px;
	border-left: 1px solid #E8E7EC;
	border-bottom: 1px solid #E8E7EC;
	border-right: 1px solid #E8E7EC;
	/* background: yellow; */
}
.zi2{
	width: 587px;
	height: 65px;
	border-left: 1px solid #E8E7EC;
	border-bottom: 1px solid #E8E7EC;
	border-right: 1px solid #E8E7EC;
	/* background: yellow; */
}
.zi-left{
	font-size: 12px;
	color: #333333;
	float: left;
	line-height: 68px;
	margin-left: 13px;
}
.zi-you{
	font-size: 12px;
	color: red;
	float: right;
	line-height: 68px;
	margin-right: 13px;
}
.bankuai2-right{
	width: 286px;
	height: 509px;
	float: left;
	margin-left: 18px;
	/* background:black; */
}
.dibu{
	width: 1200px;
	/* background: pink; */
	margin: 0 auto;
}
.dibu-top{
	width: 100%;
	height:195px;
	float: left;
	/* background: yellow;  */
}
.dibu-bottom{
    width: 100%;
	height:89px;
	float: left;
	/* background: pink;  */
}
.dibutu{
	width: 371px;
	height: 195px;
	float: left;
	/* background: cyan; */
	margin-left: 4px;
}
.bottom-box{
	width: 1118px;
	height: 57px;
	background: #F8F8F8;
	margin: 0 auto;
	
}
.box-zi{
	width: 179px;
	height: 26px;
	/* background: yellow; */
	float: left;
    margin-top: 17px;
	line-height: 26px;
	border-left: 1px solid #DADADB;
}
.box-neirong{
	font-size: 12px;
	color: #7E7E7E;
	text-align: center;
}
.dibutu-left{
	width: 42px;
	height: 42px;
	line-height: 195px;
	margin-left: 155px;

}

.kuang-left{
	width: 156px;
	
	float: left;
	background: #B81C22;
	margin-top: 65px;
	margin-left:100px; 
}
.kuang-right{
	width: 160px;
	
	float: left;
	
	margin-top: 65px;
	margin-left:100px; 
}
.left-zi{
	font-size: 16px;
	color: #fff;
	text-align: center;
	line-height: 32px;
}
.left-zi1{
	font-size: 16px;
	color: #727171;
	text-align: center;
	line-height: 32px;

}

.dibutu img{
	width: 100%;
	height: 100%;
}
.dibutu-right{
	width: 103px;
	height: 98px;
	line-height: 195px;
	margin-left: 155px;
}

.fengexian{
	width: 100%;
	height: 1px;
	position: relative;
	float: left;
	margin: 0 auto;
	
}
.fenge1{
	width: 1200px;
	height: 1px;
	background: #3E3A39;
	
	float: left;
	
	position: absolute;
	left: 0px;
	right: 0px;
	margin: auto;
	margin-bottom: 30px;
}
.ma{
	width: 100%;
	height: 37px;
	/* background: blue; */
	float: left;
	margin-top: 30px;
}


.ma-zi{ 
	width: 100%;
	height: 12px;
	/* background: yellow; */
	float: left;
	margin-top: 12px;
	
}



.yewei{
	width: 100%;
	height: 106px;
	font-size: 12px;
	 color:#808080;

}
.ma-zi-top{
	font-size: 12px;
	color: #3E3A39;
	text-align: center;
}
.yewei-main{
	width: 100%;
	height: 70px;
	margin: 0 auto;
	overflow: hidden;
	/* background: pink; */
	float: left;


}
.weiye-tu{
	width: 1;
	float: left;
	margin: 0 auto;
}
.fanhui{
	position: fixed;
	bottom: 50px;
	right: 10px;
	z-index:20;
}
.yangkuang{
	width: 100%;
	height: 80px;
	/* background: blue; */
	float: left;
}
.yangkuang img{
	margin: 0 auto;
	position: relative;
	left: 300px;
	top: 15px;

}
.fanhui-top-zhezhao{
	width:75px;
	height: 60px;
	position: absolute;
	bottom: 0;
	left: 0;
}