.top{
	width: 100%;
	height: 154px;
	background: url('../img/wek.jpg') center center no-repeat;

}
.top-main{
	width: 1200px;
	height: 100%;
	
	margin: auto;
	padding: 0 20px;
}
.top-main-left{
	margin-top: 40px;
	float: left;
}
.top-main-right{
    float: right;
    margin-top: 54px;
}
.top-mian-right-left{
	float: left;

}
.left-right-zixunzi{
	width: 189px;
	height: 44px;
	margin-left: 10px;
	float: left;
}
.zixunzi{
	width: 100%;
	height: 21px;
		font-family: "微软雅黑";
	font-size: 16px;
	color: #fff;
}
.xian{
	width: 100%;
	height: 2px;
	/* background: yellow; */
}
img{
	width: 100%;
	height: 100%;
	display: block;
}
.nav{
	width: 100%;
    height: 70px;
    background: yellow;
    background: url('../img/nav.jpg');
  

}
.nav-mian{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	background: url('../img/nav1.jpg');

}
.nav-mian ul li:hover{
	background-image: url('../img/8.jpg');
	background-size: cover;

}
ul{
	width: 100%;
	height: 100%;
	
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
	width: 134px;
	height: 100%;
	
	float: left;
	text-align: center;
	font-size: 18px;
	font-family: "微软雅黑";
	line-height: 70px;
	color: #fff;
}
.a{
	width: 86px;
	position: relative;
}
.li-tu{
	width: 24px;
	height: 21px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin:auto;
}
.banner{
	width: 100%;
	height: 374px;
	
	background: url('../img/banner.jpg') center center no-repeat;
	background-size: 100%;
	position: relative;
}
.lunbo{
	width:50px;
	height: 15px; 

	
	position: absolute;
	bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
  
}
.lunbo-yuandian{
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #fff;
	float: left;
	margin-left: 7px;
}
.lunbo-yuandian:hover{
	background: #333;
}
.container{
	width: 100%;
	height: 1480px;
	background: url('../img/bg.png') no-repeat top center #25052e;
}

.main-biaoti{
   width: 1200px;
   height: 113px;

   margin: 0 auto;
   margin-top: -45px;
   z-index: 55;
   position: relative;
   background: url('../img/about_bg.png') no-repeat;
}
.mian-bt-zi{
	width: 100%;
	height: 19px;
	
	margin-top: 75px;
	float: left;
	padding-left: 25px;
}
.fzsy{
	width: 19px;
	height: 16px;
	float: left;
	margin-right: 5px;
	background: url('../img/fz.png') no-repeat;
}
.mian-bt-xiaozi{
	font-family: "微软雅黑";
	font-size: 14px;
	color: #fff;

}
a{
	cursor: pointer;
}
.bt2{
	width: 1200px;
	height: 56px;
	background: #650c7a;
	margin: 0 auto;
}
.bt2-mian{
	width: 1132px;
	height: 100%;
	margin: 0 auto;
	
	background: url('../img/wej.png') no-repeat center center ;
	text-align: center;
	font-size: 20px;
	color: #f8f8f8;
}
.bt2-zi-xia{
	width: 92px;
	height: 23px;
	background: #0c8dcd;
	margin: 0 auto;
	margin-top: 5px;
	font-size: 16px;
	color:#f8f8f8;
}
.biaoqian{
	width: 1200px;
	height: 100px;
    padding: 30px 0;
	background:#650c7a;
	margin: 0 auto;
}
.bq-mian{
	 
	height: 32px;
	padding-left: 30px; 
	float: left;
	
}
.bq-mian-box{
	line-height: 32px;
	height: 32px;
	float: left;
	
    margin-right: 10px;
	background: #e8b2f9;
	color:#3f084d;
	font-family: "微软雅黑";
	font-size: 16px;
	text-align: center;
	padding: 0 28px;
	
}
.mian{
	width: 1200px;
	height: 1229px;
	margin: 0 auto;
	background: #650c7a;
	padding: 0 30px;

}
.mian-box1{
	width: 100%;
	height: 430px;

}
.mian-box1-left{
	width: 559px;
	height: 100%;

	float: left;
}
.mian-box1-right{
	width: 558px;
	height: 100%;

	float: right;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.mian-box1-right-top{
	width: 100%;
	height: 204px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.mian-box1-right-top-tu{
	width: 273px;
	height: 204px;

}
.main-box2{
	width: 100%;
	height: 204px;

	margin-top: 10px;
}
.main-box2 li{
	width: 273px;
	height: 204px;
	
}
.page{
	width: 100%;
	height: 120px;
	
	margin: 0 auto;
	margin-top: 10px;
	float: left;


}
.page-box{
	width:400px;
	height: 27px;
	 margin: 0 auto;
	margin-top: 45px;
 
}
.page-box-zi{
	padding: 3px 6px;
	background:#ffffff; 
	color: #3f084d;
	font-size: 14px;
	float: left;
	margin-right: 3px;
}

.footer{
	width: 1200px;
	height: 37px;
	margin: 0 auto;
	margin-top: -43px;
	background:url("../img/glt.png") center center no-repeat;
	position: relative;
	z-index: 55;
}
.foot{
	width:100%;
	height: 157px;
	padding: 20px 60px;
	/* position: relative; */
	background: url('../img/bot_bg.png');
}
.foot-main{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
	
	padding-left: 8px;
}
.erwei{
	width: 102px;
	height: 102px;
	float: left;
	
}
.dibu-zi{
	width: 785px;
	float: left;
	padding-left: 8px;

}
.dibu-zi-zi{
	font-size: 12px;
	color: #fff;
	margin-top: 10px;
}
.dibu-right{
    width: 277px;
    height: 89px;
    float: right;
    
}
.dibu-right-top{
	width: 100%;
	height: 24px;
	padding-left: 55px;
	
}
.dibu-right-tubiao{
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 5px;
	
}
.dibu-right-lianxi{
	width: 165px;
	height: 50px;
	float: left;
	
	
}
.lianxi-dianhua{
	width: 100%;
	height: 33px;
	
	font-size: 25px;
	color: #fff;
}
.lianxi-ren{
	width: 100%;
	height: 19px;
	
	font-size: 14px;
	color: #fff;
}
.dibu-fenxiang{
	width: 27px;
	height: 24px;
	margin-right: 3px;
	float: left;

}
.dibu-fenxiang.r1{
	background: url('../img/share.jpg') 0 -338px no-repeat;
}
.dibu-fenxiang.r2{
	background: url('../img/share.jpg') 0 -286px no-repeat;
}
.dibu-fenxiang.r3{
	background: url('../img/weixin.jpg')  no-repeat;
}
.dibu-fenxiang.r4{
	background: url('../img/share.jpg') 0 -390px no-repeat;
}
.dibu-fenxiang.r5{
	background: url('../img/share.jpg') 0 -364px no-repeat;
}
.dibu-fenxiang.r6{
	background: url('../img/share.jpg') 0 -234px no-repeat;
}
.dibu-fenxiang.r7{
	background: url('../img/jiahao.jpg')  no-repeat;
}